body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.text {
	color: red;
	margin-left: 400px;
	display: block;
	width: 50%;
	font-size: 24px;
	position: absolute;
}
.ryu, .hadouken {
	float: left;
}
.ryu {
	width: 659px;
	height: 494px;
}
.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-still {
	background: url('../images/ryu-standing-still.png');
}
.ryu-ready {
	background: url('../images/ryu-ready-position.gif');
}
.ryu-throwing {
	background: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background: url('../images/ryu-cool.gif');
}
.haduoken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}
.hadouken {
	background: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 165px;
	left: 540px;
}
